body {
	font-size: 14px;
	font-family: Arial;
	background: #cfe5e3 url("http://u.cubeupload.com/surysagar/op2.jpg")
		no-repeat;
		background-position: -39px -196px;
	/*background:#cfe5e3 url("/op2.jpg")no-repeat;background-position: -39px -196px;*/
	
	line-height: 1.6em;
	-webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
	color: #fff;
}
/*http://u.cubeupload.com/surysagar/sprite.png
http://u.cubeupload.com/surysagar/op2.jpg*/
table.dataTable tbody tr {
	/*overiding table class*/
	
}

.table-striped td {
	color: black;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #8E8E8E !important;
}

.dataTables_length label, .dataTables_filter label, .dataTables_info,
	.dataTables_wrapper, .dataTables_paginate, .paginate_button {
	color: white !important
}

.dataTables_length label {
	margin-left: -9px;
}

input[type=search] {
	width: 178px;
	display: inline-block;
	margin-right: 10px;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 6px 10px !important;
}
/*overiding bootstrap class*/
.navbar-brand {
	padding: 0px;
}

.navbar {
	height: 68px;
	background: #002153;
	border: 1px solid #002153;
	margin-bottom:0px!important;
}

.navbar-default .navbar-nav>li>a {
	color: #D2D2D2;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #c3c3c3;
}

.navbar-default .navbar-nav a {
	height: 68px;
	font-size: 20px;
	line-height: 37px;
}

.navbar-default .navbar-nav>.active>a:focus {
	color: #777;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: #777;
}

.cont {
	min-height: 645px;
	position: absolute;
	top: 73px;
}

.cont-home {
	min-height: 645px;
	position: absolute;
	top: 73px;
	left: 219px;
	width: 70%
}

.opacitydiv {
	 background: none repeat scroll 0 0 black;
    left: -525px;
    margin-left: 50%;
    min-height: 675px;
    opacity: 0.6;
    position: relative;
    width: 1064px;	
}

.topspace {
	height: 38px;
}

.table-responsive {
	height: 180px;
}

h1 {
	text-align: center;
}

.ml10 {
	margin-left: 10px;
}

#myform {
	margin-bottom: 20px;
}

.addr {
	margin-top: 4px;
	margin-bottom: 7px;
}

.addr .form-group {
	margin-bottom: 2px !important;
	margin-top: 2px !important;
}

.addr .form-group {
	padding: 6px !important;
}

.rowfield1 {
	height: 36px;
	line-height: 49px;
}

#parkingGroup, #custType {
	display: inline-block;
}

#parkingGroup label, #custType label:nth-of-type(2) {
	margin-left: 8px;
}

#cust1Name {
	float: left;
	width: 50%;
}

#cust1Age, #cust1Bdate {
	float: left;
	width: 25%;
}

#cust1Addr {
	height: 60px;
	margin-bottom: -6px;
}

#cust1PanId {
	float: left;
	width: 30%;
}

#cust1Phone {
	float: left;
	width: 30%;
}

#cust1Email {
	float: left;
	width: 40%;
}

.park {
	margin-bottom: 0px !important;
}

.addrbg1 {
	padding: 0px 2px 8px 2px;
	background: #121930;
}

.addrbg2 {
	padding: 2px;
	background: #082813;
}

.text-val {
	font-weight: bold;
}

.rt-align {
	text-align: right;
	font-weight: bold;
}

.no-pad {
	padding: 0px !important;
}

.jointven .form-group {
	padding: 6px !important;
}

#cust2Name {
	float: left;
	width: 50%;
}

#cust2Age, #cust2Bdate {
	float: left;
	width: 25%;
}

#cust2Addr {
	height: 60px;
	margin-top: 16px !important;
	margin-bottom: -19px;
}

#cust2PanId {
	float: left;
	width: 30%;
}

#cust2Phone {
	float: left;
	width: 30%;
}

#cust2Email {
	float: left;
	width: 40%;
}

.btnEvt {
	margin-top: 10px;
}

.fa-check {
	font-size: 20px;
	color: #3EBC3E;
}

.select-page {
	width: 50px;
	text-align: center;
}

.pagination li a input {
	padding: 0;
	margin: -5px 0;
}

a {
	color: #0181bc;
}

p {
	margin: 0 0 1em;
}

h1 {
	line-height: 1.25em;
}

h2, h3 {
	margin: 0 0 0.5em;
	font-size: 1.2em;
}

h3 {
	font-size: 1em
}

pre, code {
	font-size: 0.7em;
	background-color: #eee;
	color: #000;
	font-family: verdana, monospace;
}

code {
	padding: 0.2em
}

pre {
	padding: 1em;
	white-space: pre-line;
}

#first ~ h2 {
	margin-top: 2em
}

.small {
	font-size: 0.75em;
	line-height: 1.5em;
}

hr {
	border: none;
	height: 0;
	border-top: solid 1px #ccc;
	margin: 1.5em 0;
}

label.error {
	padding-left: .3em;
	color: #f00;
}

input.error {
	border: 1px solid #a00
}

#errbox {
	border: 1px solid #f00;
	background-color: #fef1ec
}

.tandc {
	margin-top: 10px;
}

.tandc p {
	line-height: 24px;
}

/*theme changing css */
table.dataTable tbody tr {
	color: white;
}

/* ----------------------------------------------  Reset form elements ---------------------------------------------- */
select {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: inherit;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
	box-sizing: border-box;
}

/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */
textarea, select, div.styled, input[type="file"] {
	border-radius: 2px;
	border: solid 1px #ccc;
}

#myTable_wrapper select {
	height: 33px;
}

div.styled, input[type="submit"], input[type="button"], input[type="file"]:after
	{
	background: white
		url(http://u.cubeupload.com/surysagar/formelementsselect.png)
		no-repeat center right;
	/*background: white url(../images/formelements-select.png) no-repeat center right;*/
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

textarea, input[type="file"] {
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.ie9 input[type="text"] {
	line-height: normal;
} /* Get the stuff to line up right */
textarea {
	width: 100%;
	height: 10em;
}

/* ----------------------------------------------  Select menu  ---------------------------------------------- */

/* For IE and Firefox */
div.styled {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.ie7 div.styled {
	border: none;
}

div.styled select {
	width: 115%;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	border: none;
	box-shadow: none;
}

.ie7 div.styled select {
	width: 100%;
	background-color: #fff;
	border: solid 1px #ccc;
	padding: 0.3em 0.5em;
}

/* ----------------------------------------------  File field  ----------------------------------------------  */

/* Webkit Only */
input[type="file"] {
	position: relative;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 40%;
	padding: 0;
}

input[type=file]::-webkit-file-upload-button {
	width: 0;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	border: none;
}

input[type="file"]:after {
	content: 'Upload File';
	margin: 0 0 0 0.5em;
	display: inline-block;
	left: 100%;
	position: relative;
	background: white
		url("http://u.cubeupload.com/surysagar/formelementsselect.png")
		no-repeat center left;
	padding: 0.3em 0.5em;
	border: solid 1px #ccc !important;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

input[type="file"]:active:after {
	box-shadow: none;
}

/* ----------------------------------------------  Checkboxes and Radio inputs  ----------------------------------------------  */
input[type="radio"], input[type="checkbox"] {
	position: absolute;
	left: -999em;
}

label:before {
	display: inline-block;
	position: relative;
	top: 0.25em;
	left: -2px;
	content: '';
	width: 25px;
	height: 25px;
	background-image:url(http://u.cubeupload.com/surysagar/formelements.png);
   /* background-image:url(../images/formelements.png); */
}
.dataTables_length label:before, .dataTables_filter label:before{background-image:none; }

input[type="checkbox"]+label:before {
	background-position: 0 -25px;
}

input[type="checkbox"]:checked+label:before {
	background-position: 0 0;
}

input[type="radio"]+label:before {
	background-position: -25px -25px;
}

input[type="radio"]:checked+label:before {
	background-position: -25px 0;
}

/* Remove the custom styling for IE 7-8 */
.ie8 label:before {
	display: none;
	content: none;
}

.ie8 input[type="checkbox"], .ie8 input[type="radio"], .ie7 input[type="checkbox"],
	.ie7 input[type="radio"] {
	position: static;
	left: 0;
}

.ie8 input[type="checkbox"], .ie8 input[type="radio"] {
	position: relative;
	top: 5px;
	margin-right: 0.5em;
}

textarea:focus {
	border-color: #000;
}

/* ---------------------------------------------- Form Submit and Next buttons ---------------------------------------------- */
input[type="submit"], input[type="button"] {
	padding: 0.5em 1em;
	line-height: 1em;
	cursor: pointer;
	border-radius: 4px;
	color: #000;
	font-weight: bold;
	font-size: inherit;
	border: solid 1px #ccc;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	background-position: center bottom;
	border-bottom: 3px solid #000099;
}

/* Gradient Generator by : http://www.colorzilla.com/gradient-editor/ */
input[type="submit"]:active, input[type="button"]:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* IE7 needs you to change the background to transparent when using image background for submit buttons */

/*----------------------------------------------  Media Queries ----------------------------------------------  */
@media screen and (max-width: 600px) {
	body {
		width: 80%;
		font-size: 15px;
	}
} /* end of query */
@media screen and (max-width: 400px) {
	textarea, select, div.styled {
		width: 100%
	}
} /* end of query */
.form-tw {
	display: inline-block;
	margin-left: 7px;
	height: 28px;
}

#terraceArea, #carpetArea, #agreeValue, #servicetax, #vat, #amount,
	#chequeNo, #chequeDate, #drawnOn, #flatselect, #bldselect {
	width: 108px;
}

.rt-align-only {
	text-align: right;
}

.ml12 {
	margin-left: 12px;
}

#addCustDetails {
	float: right;
}

#myTable_length {
	
}
.selectcss{float:right; width:108px;margin-left:6px; height:28px;}
#cust1AggrNo{margin-top:7px;}
/*input.print{
	background-image: url(/images/buttons/add.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle;
	
}*/
.sorting_1 br{margin-top:-17px;}